{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-- [Head] start -->

<head>
  <title>{% block title %}
    {% endblock %}
  </title>
  <!-- [Meta] -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">


  <!-- [Favicon] icon -->
  <link rel="icon" href="" type="image/x-icon">

  <!-- data tables css -->
  <link rel="stylesheet" href="{% static 'admin/assets/css/plugins/dataTables.bootstrap5.min.css' %}">
  <!-- [Google Font] Family -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap"
    id="main-font-link">
  <!-- [Tabler Icons] https://tablericons.com -->
  <link rel="stylesheet" href="{% static 'admin/assets/fonts/tabler-icons.min.css' %}">
  <!-- [Feather Icons] https://feathericons.com -->
  <link rel="stylesheet" href="{% static 'admin/assets/fonts/feather.css' %}">
  <!-- [Font Awesome Icons] https://fontawesome.com/icons -->
  <link rel="stylesheet" href="{% static 'admin/assets/fonts/fontawesome.css' %}">
  <!-- [Material Icons] https://fonts.google.com/icons -->
  <link rel="stylesheet" href="{% static 'admin/assets/fonts/material.css' %}">
  <!-- [Template CSS Files] -->
  <link rel="stylesheet" href="{% static 'admin/assets/css/style.css' %}" id="main-style-link">
  <link rel="stylesheet" href="{% static 'admin/assets/css/style-preset.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
    integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static 'css/style2.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<!-- [Head] end -->
<!-- [Body] Start -->

<body data-pc-preset="preset-1" data-pc-direction="ltr" data-pc-theme="ligth" class="text-light bg1">
  <!-- [ Pre-loader ] start -->
  <div class="loader-bg">
    <div class="loader-track">
      <div class="loader-fill"></div>
    </div>
  </div>
  <!-- [ Pre-loader ] End -->
  <!-- [ Sidebar Menu ] start -->
   
  <nav class="pc-sidebar bg-dark bg1" style="border: none; box-shadow: none;">
    <div class="bd1">
      <div class="navbar-wrapper">
      <div class="m-header">
        <a href="{% url 'index' %}" class="b-brand text-light">
          <!-- ========   Change your logo from here   ============ -->
          <!-- <img src="{% static 'images/smartbuild_Logo_dark.png' %}" style="height: 100px;" class="img-fluid mt-3"
            alt=""> -->
            <h4 style="color: #ff6900;"><i class="fa-solid fa-house-user text-light"></i> Home Owner</h4>
        </a>
      </div>
      <div class="navbar-content">
        <ul class="pc-navbar">
          <li class="pc-item hv2">
            <a href="{% url 'homeownerdash' %}" class="pc-link text-light">
              <span class="pc-micon"><i class="ti ti-dashboard"></i></span>
              <span class="pc-mtext">Dashboard</span>
            </a>
          </li>
          <hr>
          <li class="pc-item pc-caption text-light">
            <label>Manage</label>
            <i class="ti ti-dashboard"></i>
          </li>

          <!-- Categrories -->
          <!-- Books -->
          <li class="pc-item pc-hasmenu hv2">
            <a href="{% url 'homeowneredit' %}" class="pc-link text-light">
              <span class="pc-micon"><i class="fa-solid fa-pen-to-square fa-2xl"></i></span>
              <span class="pc-mtext">Edit Profile</span>
            </a>
          </li>
          <li class="pc-item pc-hasmenu hv2">
            <a href="{% url 'homeownerprofile' %}" class="pc-link text-light">
              <span class="pc-micon"><i class="fa-solid fa-id-card fa-2xl"></i></span>
              <span class="pc-mtext">View Profile</span>
            </a>
          </li>


          <li class="pc-item pc-hasmenu">
            <a href="#!" class="pc-link text-light hv2">
              <span class="pc-micon"><i class="fa-solid fa-folder-tree fa-2xl"></i></span>
              <span class="pc-mtext">Projects</span><span class="pc-arrow"><i
                  data-feather="chevron-right"></i></span>
            </a>
            <ul class="pc-submenu">
              <li class="pc-item hv2"><a class="pc-link text-light" href="{% url 'addproject' %}"><i class="fa-solid fa-plus"></i> Add Projects</a></li>
              <li class="pc-item hv2"><a class="pc-link text-light" href="{% url 'homeownerviewprojects' %}"><i class="fa-solid fa-eye"></i> View Projects</a></li>
              <li class="pc-item hv2"><a class="pc-link text-light" href="{% url 'runningprojects' %}"><i class="fa-solid fa-person-running"></i> Running Projects</a></li>
            </ul>
          </li>

           <li class="pc-item hv2">
            <a href="{% url 'homeownercompletedprojects' %}" class="pc-link text-light">
              <span class="pc-micon"><i class="fa-solid fa-check"></i></span>
              <span class="pc-mtext">Completed Projects</span>
            </a>
          </li> 
          <!-- <li class="pc-item">
            <a href="" class="pc-link">
              <span class="pc-micon"><i class="ti ti-color-swatch"></i></span>
              <span class="pc-mtext">Color</span>
            </a>
          </li> -->
          <br>
          <hr>
          <li class="pc-item pc-caption text-light">
            <label>Actions</label>
            <i class="ti ti-news"></i>
          </li>
          <li class="pc-item hv2">
            <a href="{% url 'homeownerchangepassword' %}" class="pc-link text-light">
              <span class="pc-micon"><i class="ti ti-lock"></i></span>
              <span class="pc-mtext">Change Password</span>
            </a>
          </li>
          <li class="pc-item hv2">
            <a href="{% url 'homeownerlogout' %}" class="pc-link text-light">
              <span class="pc-micon"> <i class="ti ti-power"></i></span>
              <span class="pc-mtext">Logout</span>
            </a>
          </li>

        </ul>

      </div>
    </div>
    </div>
  </nav>
  <!-- [ Sidebar Menu ] end --> <!-- [ Header Topbar ] start -->
  <header class="pc-header bg1" style="border: none; box-shadow: none; background-color: #393a3b;">
    <div class="header-wrapper b1"> <!-- [Mobile Media Block] start -->
      <div class="me-auto pc-mob-drp">
        <ul class="list-unstyled">
          <!-- ======= Menu collapse Icon ===== -->
          <li class="pc-h-item pc-sidebar-collapse">
            <a href="#" class="pc-head-link ms-0 hv1" id="sidebar-hide">
              <i class="ti ti-menu-2 ida"></i>
            </a>
          </li>
          <li class="pc-h-item pc-sidebar-popup">
            <a href="#" class="pc-head-link ms-0" id="mobile-collapse">
              <i class="ti ti-menu-2 text-white"></i>
            </a>
          </li>
          <li class="dropdown pc-h-item d-inline-flex d-md-none">
            <a class="pc-head-link dropdown-toggle arrow-none m-0" data-bs-toggle="dropdown" href="#" role="button"
              aria-haspopup="false" aria-expanded="false">
              <i class="ti ti-search text-white"></i>
            </a>
            <div class="dropdown-menu pc-h-dropdown drp-search">
              <form class="px-3">
                <div class="form-group mb-0 d-flex align-items-center place">
                  <i data-feather="search"></i>
                  <input type="search" class="form-control shadow-none" placeholder="Search here. . ." class="place">
                </div>
              </form>
            </div>
          </li>
          <li class="pc-h-item d-none d-md-inline-flex">
            <form class="header-search">
              <i data-feather="search" class="icon-search"></i>
              <input type="search" class="form-control" placeholder="Search here. . .">
            </form>
          </li>
        </ul>
      </div>
      <!-- [Mobile Media Block end] -->
      <div class="ms-auto">
        <ul class="list-unstyled">

          <li class="dropdown pc-h-item header-user-profile">
            <a class="pc-head-link dropdown-toggle arrow-none me-0 hv4" data-bs-toggle="dropdown" href="#" role="button"
              aria-haspopup="false" data-bs-auto-close="outside" aria-expanded="false">
              <img src="{% static 'admin/assets/images/user/avatar-2.jpg' %}" alt="user-image" class="user-avtar">
              <span class="text-light">{{name}}</span> <!--- Admin Logo --->
            </a>
            <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown"
              style="background-color: #1c1d1c;">
              <div class="dropdown-header">
                <div class="d-flex mb-1">
                  <div class="flex-shrink-0">
                    <img src="{% static 'admin/assets/images/user/avatar-2.jpg' %}" alt="user-image"
                      class="user-avtar wid-35"> <!--- Admin Logo --->
                  </div>
                  <div class="flex-grow-1 ms-3">
                    <h6 class="mb-1  text-light">{{name}}</h6>
                    <span>{{homeownerid}}</span>
                  </div>
                  <!-- LOGOUT -->
                  <a href="{% url 'homeownerlogout' %}" class="pc-head-link bg-transparent"><i
                      class="ti ti-power text-danger"></i></a>
                </div>
              </div>

              <div class="tab-content" id="mysrpTabContent">
                <div class="tab-pane fade show active" id="drp-tab-1" role="tabpanel" aria-labelledby="drp-t1"
                  tabindex="0">
                  <a href="{% url 'homeownerchangepassword' %}" class="dropdown-item hv3">
                    <i class="ti ti-edit-circle text-light"></i>
                    <span class=" text-light">Change Password</span>
                  </a>
                  <a href="{% url 'homeownerlogout' %}" class="dropdown-item hv3">
                    <i class="ti ti-power  text-light"></i>
                    <span class=" text-light">Logout</span>
                  </a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <!-- [ Header ] end -->



  <!-- [ Main Content ] start -->
  <div class="pc-container b1">
    <div class="pc-content">
      {% block homeownerbase %}

      {% endblock %}
    </div>
  </div>
  <!-- [ Main Content ] end -->
  <footer class="pc-footer b1">
    <div class="footer-wrapper container-fluid">
      <div class="row">
        <div class="col-10 my-1">
          <p class="m-0">Developed by <a href="{% url 'aboutdev' %}" target="_blank" style="color: #ff6900;">Rishabh
              Maurya</a>.</p>
        </div>
        <div class="col-2 text-end my-1">
          <ul class="list-inline footer-link mb-0">
            <li class="list-inline-item"><a href="{% url 'index' %}" class="hv1">Home</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- [Page Specific JS] start -->
  <script src="{% static 'admin/assets/js/plugins/apexcharts.min.js' %}"></script>
  <script src="{% static 'admin/assets/js/pages/dashboard-default.js' %}"></script>
  <!-- [Page Specific JS] end -->
  <!-- Required Js -->
  <script src="{% static 'admin/assets/js/plugins/popper.min.js' %}"></script>
  <script src="{% static 'admin/assets/js/plugins/simplebar.min.js' %}"></script>
  <script src="{% static 'admin/assets/js/plugins/bootstrap.min.js' %}"></script>
  <script src="{% static 'admin/assets/js/fonts/custom-font.js' %}"></script>
  <script src="{% static 'admin/assets/js/pcoded.js' %}"></script>
  <script src="{% static 'admin/assets/js/plugins/feather.min.js' %}"></script>





  <script>layout_change('light');</script>




  <script>change_box_container('false');</script>



  <script>layout_rtl_change('false');</script>


  <script>preset_change("preset-1");</script>


  <script>font_change("Public-Sans");</script>

  <script src="{% static 'admin/assets/js/plugins/sweetalert2.all.min.js' %}"></script>
  {% if messages %}
  {% for message in messages %}
  <script>
    const Toast = Swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      timer: 3000,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.addEventListener('mouseenter', Swal.stopTimer);
        toast.addEventListener('mouseleave', Swal.resumeTimer);
      }
    });
    Toast.fire({
      icon: '{{message.tags}}',
      title: '{{message}}'
    });
  </script>
  {% endfor %}
  {% endif %}
</body>
<!-- [Body] end -->

</html>