{% extends 'homeownerbase.html' %}
{% block homeownerbase %}
<h3 class="text-light">Homeowner Running Projects</h3>
{% if projects %}
<div class="table-responsive">
    <table class="table">
        <tr>
            <th class="ht hr">S.No</th>
            <th class="ht hr">Name</th>
            <th class="ht hr">Status</th>
            <th class="ht hr">Progress</th>
            <th class="ht hr">Contractor Name</th>
            <th class="ht hr">Contractor Contact</th>
            <th class="ht hr">Action</th>
        </tr>
        {% for p in projects %}
        <tr>
            <td class="ht hr">{{forloop.counter}}</td>
            <td class="ht hr">{{p.projectname}}</td>
            <td class="ht hr">{{p.status}}</td>
            <td class="ht hr">{{p.progress}}</td>
            <td class="ht hr">{{p.contractor.name}}</td>
            <td class="ht hr">{{p.contractor.contactno}}</td>
            <td class="ht hr">
                <a href="{% url 'viewupdates' id=p.id %}" class="btn"
                    style="background-color: #ff6900; color: white;">View Updates</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% else %}
<p class="text-light">You have no running projects</p>
{% endif %}
{% endblock %}