{% extends 'contractorbase.html' %}

{% block contractorbase %}
<h3 class="text-light">New Projects</h3>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th class="ht hr">S.No</th>
            <th class="ht hr">Project Name</th>
            <th class="ht hr">Duration <br> (in days)</th>
            <th class="ht hr">Budget</th>
            <th class="ht hr">Location</th>
            <th class="ht hr">Homeowner</th>
            <th class="ht hr">Status</th>
            <th class="ht hr">Plot Size</th>
            <th class="ht hr">House Type</th>
            <th class="ht hr">No. Of Floors</th>
            <th class="ht hr">Basement</th>
            <th class="ht hr">Parking</th>
            <th class="ht hr">Bedrooms</th>
            <th class="ht hr">Bathrooms</th>
            <th class="ht hr">Kitchen On Each Floor</th>
            <th class="ht hr">Additional Rooms</th>
            <th class="ht hr">Outdoor Areas</th>
            <th class="ht hr">Action</th>
        </tr>
        {% for p in projects %}
        <tr>
            <td class="ht hr">{{forloop.counter}}</td>
            <td class="ht hr">{{p.projectname}}</td>
            <td class="ht hr">{{p.duration}}</td>
            <td class="ht hr">{{p.budget}}</td>
            <td class="ht hr">{{p.location}}</td>
            <td class="ht hr">
                {% if p.homeowner.picture %}
                <img src="{{p.homeowner.picture.url}}" width="50px" height="50" alt="">
                {% endif %}
                {{p.homeowner.name}}
                {{p.homeowner.contactno}}
                
            </td>
            <td class="ht hr">{{p.status}}</td>
            <td class="ht hr">{{p.plot_size}}</td>
            <td class="ht hr">{{p.house_type}}</td>
            <td class="ht hr">{{p.num_floors}}</td>
            <td class="ht hr">{{p.basement}}</td>
            <td class="ht hr">{{p.parking_required}}</td>
            <td class="ht hr">{{p.bedrooms}}</td>
            <td class="ht hr">{{p.bathrooms}}</td>
            <td class="ht hr">{{p.kitchen_each_floor}}</td>
            <td class="ht hr">{{p.additional_rooms}}</td>
            <td class="ht hr">{{p.outdoor_areas}}</td>
            <td class="ht hr">
                <a href="{% url 'applyproject' id=p.id %}" class="btn btn-success">Apply</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
