{% extends 'contractorbase.html' %}
{% load static %}

{% block contractorbase %}
<h4 class="text-light"><span style="color: #ff6900;">Welcome  </span>{{name}}</h4>
<hr>
<div class="row g-4">
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
       <a href="{% url 'assignedprojects' %}">
         <div class="card text-light h-100">
            <p class="mt-2"><b><b><i class="fa-solid fa-diagram-project fa-xl"></i> Assigned Progects</b></b></p>
            <hr class="m-0">
            <p style="font-size: 40px;">5</p>
            <p>Total projects currently assigned to you</p>
        </div>
       </a>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
        <a href="{% url 'contractorapplications' %}">
            <div class="card text-light h-100">
            <p class="mt-2"><b><b><i class="fa-solid fa-clock fa-xl"></i> Application Submited</b></b></p>
            <hr class="m-0">
            <p style="font-size:40px;">1</p>
            <p>All proposals you've submited</p>
        </div>
        </a>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
        <div class="card text-light h-100">
            <p class="mt-2"><b><b><i class="fa-solid fa-check fa-xl"></i> Completed Projects</b></b></p>
            <hr class="m-0">
            <p style="font-size:40px;">2</p>
            <p>Successfully finished projects</p>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
        <div class="card text-light h-100">
            <p class="mt-2"><b><b><i class="fa-solid fa-clock fa-xl"></i> Average rating</b></b></p>
            <hr class="m-0">
            <p style="font-size:40px;">0</p>
            <p>Based on 3 feedbacks</p>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
         <a href="{% url 'contractorapplications' %}">
        <div class="card text-light h-100">
            <p class="mt-2"><b><b><i class="fa-solid fa-clock fa-xl"></i> Approved Applications</b></b></p>
            <hr class="m-0">
            <p style="font-size:40px;">0</p>
            <p>Approved projects</p>
        </div>
         </a>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
          <a href="{% url 'contractorapplications' %}">
        <div class="card text-light h-100">
            <p class="mt-2"><b><b><i class="fa-solid fa-clock fa-xl"></i> Pending Approvals</b></b></p>
            <hr class="m-0">
            <p style="font-size:40px;">0</p>
            <p>Awating your decision</p>
        </div>
        </a>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
         <a href="{% url 'contractorapplications' %}">
        <div class="card text-light h-100">
            <p class="mt-2"><b><b><i class="fa-solid fa-clock fa-xl"></i> Rejected Application</b></b></p>
            <hr class="m-0">
            <p style="font-size:40px;">0</p>
            <p>All rejected application</p>
        </div>
        </a>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
        <a href="{% url 'contractorviewprojects' %}">
            <div class="card text-light h-100">
            <p class="mt-2"><b><b><i class="fa-solid fa-clock fa-xl"></i> New Projects</b></b></p>
            <hr class="m-0">
            <p style="font-size:40px;">0</p>
            <p>All new projects available</p>
        </div>
        </a>
    </div>
</div>
{% endblock %}

