{% extends 'adminbase.html' %}

{% block admin %}
<div class="row">
    <div class="col-sm-12">
        <h3 class="text-light m-4 mb-2">Change Password</h>
            <div class="row">
                <div class="col-12 col-sm-8 col-md-7 col-lg-6 col-xl-6 col-xxl-5 mx-auto">
                    <form class="card-form" method="post">
                        {% csrf_token %}
                        <!-- <h5 class="my-5 text-light">Change Password Form</h5>  -->

                        <h5 class="my-2 text-light"><i class="fas fa-key icon"></i> Update Your Password Securely (Use a
                            strong password to keep your account secure.) </h5>
                        <label for="op my-2" style="font-size:13px;"><i class="fas fa-lock icon"></i> Old
                            Password</label>
                        <input type="password" class="form-control place rounded-5" placeholder="Old Password"
                            aria-label="Old Password" name="oldpwd" id="op" required>

                        <label for="cn" style="font-size:13px;"><i class="fas fa-key icon"></i> New Password</label>
                        <input type="password" class="form-control place rounded-5" placeholder="New Password"
                            aria-label="New Password" name="newpwd" id="np" required>

                        <label for="e" style="font-size:13px;"><i class="fas fa-check icon"></i> Confirm
                            Password</label>
                        <input type="password" class="form-control place rounded-5" placeholder="Confirm Password"
                            aria-label="Confirm Password" name="confirmpwd" id="cp" required>

                        <div class="row">
                            <div class="col-sm-12 text-center mt-3">
                                <button class="btn btn1 rounded-5" type="submit"
                                    style="margin: 0 auto; padding: 12px;"><b>Change Password</b></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </div>
</div>
{% endblock %}