{% extends 'base.html' %}
{% load static %}

<!-- title -->
{% block title %}
about me
{% endblock %}
<!-- aboutdev -->
{% block main %}

<div class="row">
    <div class="col-10 mx-auto">
        <div class="row text-white mb-5">
            <div class="col-12 col-sm-12 col-md-5 col-lg-3 tilt mt-5" id="photo">
                <!-- <img src="{% static 'images/dev.jpg' %}" class="img-fluid" alt=""> -->
                <!-- <h4 style="margin-top: 100%;"><b><i>Rishabh Maurya</i></b></h4> -->
            </div>
            <div class="col-12 col-sm-12 col-md-7 col-lg-9 my-5">
                <p>Hi 👋,</p>
                <p>My name is Rishabh Maurya, and I am currently a third-year Diploma student in Engineering. I live in Pratapgarh, Uttar Pradesh, and I am passionate about technology, especially web development and software programming.</p>
                <p>I have developed a strong foundation in both frontend and backend technologies. My technical skills include HTML, CSS, JavaScript, Bootstrap, Python, and Django. I enjoy building responsive websites, designing clean user interfaces, and developing dynamic web applications. I also have a basic understanding of how to manage databases and implement server-side logic using Python and Django.</p>
                <p>I am a quick learner, self-motivated, and always eager to explore new tools and frameworks. My goal is to become a full-stack developer and work on real-world projects that solve real problems.</p>
                <p>You can reach me at 9795297758 or via email at rishabhmaurya303@gmail.com.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
<!-- aboutdev -->