{% extends 'base.html' %}
{% load static %}

<!-- title -->
{% block title %}
About page
{% endblock %}
<!-- title -->

<!-- about start-->
{% block main %}
<div class="row" id="bg10">
    <div class="col-sm-12 backdrop2">
        <div class="row text-white my-5" data-aos="fade-up" data-aos-duration="3000">
            <div class="col-sm-10 text-center mx-auto">
                <h1 class="display-5" style="color:#ff6900; font-family:serif;"><b><b>About SmartBuildHub</b></b></h1>
                <p style="font-size: large;">Revolutionizing the construction industry with innovative smart building
                    solutions
                    and sustainable practices.</p>
                <p style="color: #7950be; font-size:x-large; font-family:serif;">WHO WE ARE</p>
                <h3 style="font-size: xx-large; font-family:serif;"><b>Our Mission</b></h3>
                <p>At SmartBuildHub, we're committed to transforming the future of construction through cutting-edge
                    technology,
                    <br> sustainable practices, and unparalleled expertise. We believe in creating buildings that are
                    not just
                    structures, <br> but intelligent ecosystems that enhance lives.
                </p>
            </div>
            <div class="col-sm-10 mx-auto my-5">
                <div class="row g-4">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3" data-aos="zoom-in" data-aos-duration="5000">
                        <div class="card h-100 w-100 py-5 text-center text-white transform3"
                            style="background-color: #ff6900;">
                            <p class="text-center" style="padding-right:12px;"><i class="fa-solid fa-list-check fa-2xl"></i></p>
                            <h4><b>250+</b></h4>
                            <p>Projects Completed</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3" data-aos="zoom-in" data-aos-duration="5000">
                        <div class="card h-100 w-100 py-5 text-center text-white transform4"
                            style="background-color: #ff6900;">
                            <p class="text-center" style="padding-right:10px;"><i class="fa-solid fa-trophy fa-2xl"></i></p>
                            <h4><b>30+</b></h4>
                            <p>Years Experience </p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3" data-aos="zoom-in" data-aos-duration="5000">
                        <div class="card h-100 w-100 py-5 text-center text-white transform3"
                            style="background-color: #ff6900;">
                            <p class="text-center" style="padding-right:10px;"><i class="fa-solid fa-face-smile fa-2xl"></i></p>
                            <h4><b>98%</b></h4>
                            <p>Client Satisfaction</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3" data-aos="zoom-in" data-aos-duration="5000">
                        <div class="card h-100 w-100 py-5 text-center text-white transform4"
                            style="background-color: #ff6900;">
                            <p class="text-center" style="padding-left:3px;"><i class="fa-solid fa-award fa-2xl"></i></p>
                            <h4><b>42</b></h4>
                            <p>Industry Awards</p>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="my-5" style="color: white;">

            <!-- OUR JOURNEY start -->
            <div class="col-12 col-sm-10 col-md-10 mx-auto">
                <div class="row text-white" data-aos="fade-up" data-aos-duration="3000">
                    <div class="col-12 col-sm-12 col-md-6 our_journey">
                        <h6 style="color:#ff6900;">OUR JOURNEY</h6>
                        <h2 class="my-4"><b>Our Story</b></h2>
                        <p>Founded in 2010, SmartBuildHub began with a simple vision: to integrate smart technology into
                            every
                            aspect of construction and building management. What started as a small team of innovators
                            has grown
                            into an industry-leading company.</p>
                        <p class="my-4">Over the years, we've pioneered numerous building technologies that have
                            revolutionized
                            how structures are designed, built, and maintained. Our commitment to sustainability and
                            innovation
                            has earned us recognition as one of the most forward-thinking companies in the construction
                            sector.
                        </p>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6" data-aos="zoom-in" data-aos-duration="5000">
                        <div style="border: 10px solid;" class="tilt">
                            <img src="{% static 'images/smartBuildHubOffice.jpg' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- OUR JOURNEY end -->


            <div class="col-sm-10 mx-auto mt-5">
                <hr class="mt-5" style="color: white;">
            </div>


            <!-- WHAT DRIVES US start -->
            <div class="col-sm-10 mx-auto my-5">
                <div class="row" data-aos="fade-up" data-aos-duration="3000">
                    <div class="col-sm-12 text-center my-5">
                        <h6 style="color:#ff6900;">WHAT DRIVES US</h6>
                        <h2><b>Our Core Values</b></h2>
                    </div>
                    <div class="col-sm-12">
                        <div class="row g-4">
                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3" data-aos="zoom-in" data-aos-duration="5000">
                                <div class="card h-100 w-100 py-5 px-4 h-100 text-center text-white transform3"
                                    style="background-color: #ff6900;">
                                    <p><i class="fa-solid fa-seedling fa-2xl"></i></p>
                                    <h4><b>Sustainability</b></h4>
                                    <p class="pt-3">We prioritize eco-friendly materials and energy-efficient designs in
                                        every project we undertake.</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3" data-aos="zoom-in" data-aos-duration="5000">
                                <div class="card h-100 w-100 py-5 px-4 h-100 text-center text-white transform4"
                                    style="background-color: #ff6900;">
                                    <p><i class="fa-regular fa-lightbulb fa-2xl"></i></p>
                                    <h4><b>Innovation</b></h4>
                                    <p class="pt-3">We constantly push boundaries with cutting-edge technology and
                                        forward-thinking solutions.</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3" data-aos="zoom-in" data-aos-duration="5000">
                                <div class="card h-100 w-100 py-5 px-4 h-100 text-center text-white transform3"
                                    style="background-color: #ff6900;">
                                    <p><i class="fa-regular fa-handshake fa-2xl"></i></p>
                                    <h4><b>Collaboration</b></h4>
                                    <p class="pt-3">We foster strong relationships with clients, partners, and
                                        communities to create lasting impact.</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3" data-aos="zoom-in" data-aos-duration="5000">
                                <div class="card h-100 w-100 py-5 px-4 h-100 text-center text-white transform4"
                                    style="background-color: #ff6900;">
                                    <p><i class="fa-regular fa-square-check fa-2xl"></i></p>
                                    <h4><b>Excellence</b></h4>
                                    <p class="pt-3">We maintain the highest standards in every aspect of our work and
                                        never compromise on quality.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- WHAT DRIVES US end -->
        </div>

    </div>
</div>
{% endblock %}